{% load static from staticfiles %}
<html>
    <head>
        <title>{% block title %}Vahanalytics{% endblock title %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/stocks_highchart.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/highcharts_exporting.js' %}"></script> 
    <!--    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script> -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        {% block header %}
            <div class="header" id="header">
                <div class="left-heading">
                    <h2>Vahan</h2><h3>alytics</h3>
                </div>
                <div class="center-heading">
                    <h1>Analaytics Dashboard</h1>
                </div>
            </div>
        {% endblock header %}
        {% block body %}
            <div class="input-container" id="input-container">
                <div class="driver-select" id="driver-select">
                    <h4> Select Driver : </h4>
                    <select class="driver_list" id="driver_list" name="drivers">
                        <option value="None">None</option>
                    </select>
                </div>
                <div class="trip-select" id="trip-select">
                    <h4> Select Trip : </h4>
                    <select class="trip_list" id="trip_list" name="trips">
                        <option value="None">None</option>
                     </select>
                </div>
            </div>
            <div class="driver-details">
            </div>
            <div class="acceleration-container" id="acceleration-container">
            </div>
            <div class="events-container" id="events-container">
            </div>
            <div class="scores-container" id="scores-container">
            </div>
        {% endblock body %}
    </body>
</html>
